<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LACKP Kickball Teams</title>
    <link rel="stylesheet" href="home.css" />
  </head>

  <body>
  <div>
    <h1>LACKP Kickball Teams</h1>
      <ul>
        <% @team_names.each do |team|  %>
          <li>
          <a href="<%= "/teams/#{team}" %>">
          <%= team %></a></li>
        <% end %>
      </ul>
    </div>

      <h2>Player by Position</h2>
      <ul>
      <% @positions.each do |position| %>
      <li>
      <a href="<%= "/positions/#{position}" %>">
      <%= position %></a></li>
      <% end %>
      </ul>

  </body>
</html>
