<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LACKP Kickball Teams</title>
    <!-- <link rel="stylesheet" href="home.css" /> -->
  </head>

  <body>
    <h1>LACKP Kickball Teams</h1>
      <ul>
        <% @team_names.each do |team|  %>
          <li><a href="<%= "/teams/#{team}" %>"> <%= team %></li>
        <% end %>
      </ul>


  </body>
</html>
