<!DOCTYPE html>
<html lang="en">
  <head>
  <link href="/home.css" media="screen" rel="stylesheet"/>
    <title><%= params[:position] %></title>

  </head>

  <body>
    <h1><%= params[:position] %></h1>

    <ul>
      <% @positions.each do |player| %>
      <li>
      <%= "#{player[:first_name]} #{player[:last_name]}, #{player[:team]}" %>
      </li>
      <% end %>
    </ul>
  </body>
</html>
