<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @position %></title>
    <!-- <link rel="stylesheet" href="home.css" /> -->
  </head>

  <body>
    <h1><%= @position%></h1>

    <ul>
      <% @data[@team[3]].each do |position| %>
        <li><%= "#{player[2]}" %></li>
      <% end %>
    </ul>
  </body>
</html>
