<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @team_name %></title>
    <!-- <link rel="stylesheet" href="home.css" /> -->
  </head>

  <body>
    <h1><%= @team_name%></h1>

    <ul>
      <% @data[@team_name].each do |player| %>
        <li><%= "#{player[0]} #{player[1]}: #{player[2]}" %></li>
      <% end %>
    </ul>
  </body>
</html>
